<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="DEBUG">
    <Appenders>
        <Console name="LogToConsole" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </Console>
    </Appenders>
    <Loggers>

        <Logger name="internal.holly.integration.WindowingData" level="info" additivity="false">
            <AppenderRef ref="Console"/>
        </Logger>
        <Logger name="org.apache.beam.sdk.util.WindowTracing" level="debug" additivity="true">
            <AppenderRef ref="Console"/>
        </Logger>

        <Logger name="org.apache.beam.runners.flink.translation.wrappers.streaming.io.UnboundedSourceWrapper" level="error" additivity="false">
            <AppenderRef ref="Console"/>
        </Logger>
        <Logger name="org.apache.flink.runtime.state.heap.HeapKeyedStateBackend" level="error" additivity="false">
            <AppenderRef ref="Console"/>
        </Logger>
        <Logger name="org.apache.beam.runners.flink.FlinkStreamingPipelineTranslator" level="error" additivity="false">
            <AppenderRef ref="Console"/>
        </Logger>
        <Logger name="org.apache.flink.metrics.MetricGroup" level="error" additivity="false">
            <AppenderRef ref="Console"/>
        </Logger>
        <Root level="info">
            <AppenderRef ref="LogToConsole"/>
        </Root>
    </Loggers>
</Configuration>
